* {
    overflow: hidden;
}

body {
    background-color: #242424;
    margin: 0;
    height: 100vh;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.click-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.clicks-view {
    justify-content: center;
    align-items: center;
    display: flex;
}

.clicks-view h1 {
    color: white;
    font-family: sans-serif;
}

.click-radius button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 10rem;
}

.loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.pig {
    font-size: 10rem;
    margin: 0;
}

.centered-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.centered-div h1,
.centered-div h2 {
    margin: 10px 0;
}

.centered-div h1 {
    font-size: 5rem;
}

.centered-div h2 {
    font-size: 2.5rem;
    margin: 10px 0 0 0;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #6F6F6F;
    border-radius: 17px;
    padding: 10px;
}

.bottom-div-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    border-radius: 16px;
    margin: 10px;
    padding: 5px 44px 5px 44px;
}

.bottom-div-divs h5 {
    margin: 0;
    font-size: 1rem;
}

.bottom-div-divs h6 {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    color: white;
}

.upgrade-button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: right center;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 1.2em;
    z-index: 1000;
    white-space: nowrap;
    /* Ensure text does not wrap */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.upgrade-button span {
    display: block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.upgrade {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1001;
    box-sizing: border-box;
}

.upgrade button {
    background: none;
    color: white;
    font-size: 1.5rem;
    border: #fff 1 1 1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upgrade h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-button {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left center;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 1.2em;
    z-index: 1000;
    white-space: nowrap;
    /* Ensure text does not wrap */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.main-button span {
    display: block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    /* Prevent text from wrapping */
}